body,
html {
  font-family: Google Sans, BlinkMacSystemFont, sans-serif !important;
  font-weight: 400;
  letter-spacing: 0 !important;
}

$body-font-family: Google Sans, BlinkMacSystemFont, sans-serif;

.text-body-1,
.text-body-2,
.text-button,
.text-caption {
  font-family: Roboto, BlinkMacSystemFont, sans-serif !important;
  font-weight: 400;
  letter-spacing: 0 !important;
}

.text-h6 {
  font-size: 1.125rem !important;
  line-height: 1.625rem;
}

.text-h8 {
  font-family: Google Sans, BlinkMacSystemFont, sans-serif !important;
  font-weight: 400;
  letter-spacing: 0 !important;
  line-height: 1.4375rem;
}

.stay-availability-room-images {
  &__grid {
    grid-gap: 2px;
    display: grid;
    gap: 2px;
    grid-template-areas:
      "main other-1"
      "main other-2"
      "main other-3";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.price-display-grid {
  display: grid;

  &__split {
    grid-template-areas:
      "saving-pct a"
      "strikethru b"
      "rate-nightly btn"
      "total-price btn"
      "tax-fees btn"
      "disclaimer disclaimer";
    grid-template-columns: 1fr auto;
  }
}

@media (min-width: 600px) {
  .stay-offer-grid {
    grid-gap: 0 16px;
    align-items: flex-start;
    display: grid;
    gap: 0 16px;
    grid-template-areas:
      "room-images room-catalog"
      "room-images room-offer";
    grid-template-columns: minmax(200px, 4fr) 8fr;
    grid-template-rows: auto 1fr;

    &__room-images {
      grid-area: room-images;
    }

    &__room-catalog {
      background-color: transparent !important;
      border-bottom: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      grid-area: room-catalog;
    }

    &__room-offer {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      grid-area: room-offer;
    }
  }

  .stay-availability-room-images {

    &__grid {
      grid-template-areas:
        "main main main"
        "other-1 other-2 other-3";
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
    }


  }
}

.aspect-ratio {
  position: relative;
}

.aspect-ratio img {
  object-fit: cover;
  object-position: 50% 50%;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.v-btn-stay-see-all-room-images {
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 4px !important;
}